body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #ffffff;
    color: #333;
}

.portfolio-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px;
}

.profile-section {
    position: fixed;
    top: 20px;
    left: 20px;
    width: 250px;
    text-align: center;
    padding: 20px;
    background-color: rgb(214, 228, 243);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    height: auto;
}

.profile-photo {
    width: 100%;
    height: auto;
    border-radius: 50%;
    margin-bottom: 15px;
}

.icons a {
    display: inline-block;
    margin: 5px;
}

.icons img {
    width: 25px;
    height: 20px;
}

.details-section {
    flex: 1;
    width: 90%;
    max-width: 1000px;
    margin-left: 300px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.details-section h2 {
    color: #5776a2;
    margin-bottom: 15px;
}

.details-section p, .details-section ul {
    margin: 0;
    padding: 0;
}

.details-section ul {
    list-style-type: square;
    margin-left: 20px;
}

.text-profile {
    font-size: 1.5em;
    color: #5776a2;
}

.text-profile2 {
    font-size: 0.9em;
    margin-bottom: 20px;
}

@media (min-width: 768px) {
    .portfolio-container {
        flex-direction: row;
        justify-content: space-between;
    }

    .details-section {
        flex: 0 1 70%;
        margin-left: 300px;
    }
}

.education {
    margin-left: 1em;
}

.university {
    font-weight: bold;
    margin-left: -1em;
}

.details {
    text-indent: 2em;
}

.publications-section h2 {
    font-weight: bold;
    font-size: 1.2em;
    margin-top: 20px;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

.publication {
    margin-bottom: 10px;
}

.publication .authors {
    font-weight: normal;
}

.publication .authors .underline {
    text-decoration: underline;
}

.publication .publication-title {
    font-weight: bold;
}

.publication .publication-details {
    font-style: italic;
}

.link {
    color: blue;
    text-decoration: none;
    margin-left: 0.5em;
}

.justified {
    text-align: justify;
    margin-bottom: 10px;
    margin-left: 1em;
}
